DATABASE_URL="postgresql://postgres:motdepasse@localhost:5432/l3_221dev?schema=public"
JWT_SECRET="ta_chaine_secrete_pour_jwt"
PORT=TonPort


# Partie Cloudinary

CLOUDINARY_CLOUD_NAME="Cloud_name"
CLOUDINARY_API_KEY="API_KEY"
CLOUDINARY_API_SECRET="API_SECRET"